.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: none;
    width: 320px;
    padding: 0 16px 60px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 24px 100px 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1232px;
    padding: 0 24px 100px 24px;
  }
}