.container {
    max-width: 480px;
}
.about-title {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}
/* .section-title::after {
    content: "";
    display: inline-block;
    width: 100%;
    border: 1px solid #000000;
    margin-left: 14px;
} */
.about-text {
    margin-bottom: 16px;
    font-size: 16px;
line-height: 1.25;
}
.about-desk{
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 720px;
    }
    .about-desk{
        display: flex;
        margin-bottom: 100px;
    }
    .about-text{
        max-width: 322px;
        margin-right: 54px;
        font-weight: 400;
font-size: 20px;
line-height: 1.2;
    }
    .about-title {
        font-size: 44px;
line-height: 1.2;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1232px;
    }
    .about-text{
        max-width: 510px;
        margin-right: 90px;
font-size: 22px;
line-height: 1.2;
    }
    .about-title {
        font-size: 44px;
line-height: 1.2;
margin-bottom: 26px;
    }
    .about-desk{
        align-items: center;
    }
}