.delivery {
  display: block;
  padding-bottom: 100px;
}

.delivery-title {
  margin-bottom: 32px;
}

.delivery-list {
  margin-bottom: 32px;
}

.delivery-item {
  display: flex;
  margin-bottom: 20px;
}

.delivery-item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  width: 12px;
  height: 24px;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 8px 16px;
}

.delivery-item-custom {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
  margin-left: 8px;
}

.container.img-delivery-wrap {
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .delivery-list {
    margin-bottom: 40px;
  }

  .img-delivery-wrap {
    position: relative;
    width: 100vw;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
  }

  .delivery-item-number {
    font-size: 26px;
    width: 15px;
    height: 32px;
    padding: 16px 24px 16px 24px;
  }

  .delivery-item-custom {
    font-size: 24px;
    line-height: 1.2;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-item-number {
    margin-left: 72px;
    width: 15px;
    height: 32px;
    padding: 16px 24px 16px 24px;
  }

  .delivery-item-custom {
    font-size: 32px;
    margin-left: 52px;
  }
}
