.footer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
}
.footer-title {
    padding-top: 32px;
    padding-bottom: 18px;
    color: #ffffff;
}
.footer-item {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 12px;
    color: #ffffff;
}
.footer-set1{
    padding-left: 44px;
}

.open-time {
    padding-top: 32px;
    font-size: 18px; 
    line-height: 22px;
    color: #ffffff;
}
.worked {
    padding-top: 18px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
.footer-contact {
    padding-top: 32px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}
.footer-str{
    padding-top: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
.contact-items {
    font-size: 14px;
    line-height: 17px;
    padding-top: 12px;
    color: #ffffff;
}
.footer-str{
}

.footer-set2{
    padding-right: 32px;
}

.footer-icon-list {
    padding-top: 32px;
    display: flex;
}
.footer-icon-item{
    padding-right: 23.33px;
}
.footer-icon-link {
    fill: #ffffff;
}


@media screen and (min-width: 480px) {
    .container {
        min-width: 320px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
