.footer-container {
    display: flex;
    flex-wrap: wrap;
 column-gap: 44px;
    row-gap: 32px;
    background-color: #000000;
    padding-top:60px;
    padding-bottom: 54px;
}
.footer-title {
    font-weight: 700;
    font-size: 18px; 
    line-height: 22px;
    margin-bottom: 18px;
    color: #ffffff;
}
.footer-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
    color: #ffffff;
}

.open-time {
    font-weight: 700;
    font-size: 18px; 
    line-height: 22px;
    color: #ffffff;
}
.worked {
    font-weight: 500;
    margin-top: 18px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
.footer-contact {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}
.footer-str{
    font-weight: 500;
    margin-top: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
.contact-items {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    color: #ffffff;
}

.footer-icon-item{
    margin-right: 23.33px;
}
.footer-icon-link {
    fill: #ffffff;
    /* stroke:  #FFFFFF; */
}
.footer-logo_icon{
    fill: 
    #FFFFFF;
}

.footer-logo{
    display: none;
}

@media screen and (min-width: 480px) {
    /* .container {
        min-width: 320px;
    } */
}

@media screen and (min-width: 768px) {
    /* .container{
        max-width: 720px;
    } */
    .footer-set1{
        padding: 0;
    }
    .footer-set2{
        padding: 0;
    }
    .footer-br{
        display: none;
    }
    .footer-container{
        column-gap: 44px;
    }
    .footer-title{
        margin-bottom: 18px;
        font-size: 20px;
        line-height: 24px;
    }
    .footer-item{
        font-size: 16px;
        line-height: 19px;
    }
    .open-time{
        margin-bottom: 18px;
        font-size: 20px;
        line-height: 24px;
    }
    .worked{
        font-size: 16px;
        line-height: 19px;
    }
    .footer-contact{
        margin-bottom: 18px;
        font-size: 20px;
        line-height: 24px;
    }
    .contact-items{
        font-size: 16px;
        line-height: 19px;
    }
    .footer-str{
        font-size: 16px;
        line-height: 19px;
    }
    .footer-icon-list{
        display: block;
    }
    .footer-icon-item{
        margin-bottom: 22.67px;
    }
    .footer-logo{
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    
    .footer-br{
        display: none;
    }
    .footer-logo{
        display: contents;
    }
    .footer-logo_icon{
        margin-top: 72px;
        margin-right: 210px;
    }
    .footer-title {
        margin-top: 72px;
        margin-right: 96px;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 18px;
    }
    .footer-item {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 12px;
    }
    .open-time {
        margin-top: 72px;
        margin-right: 96px;
        font-size: 20px; 
        line-height: 24px;
    }
    .worked {
        font-size: 16px;
        line-height: 19px;
    }
    .footer-contact {
        margin-top: 72px;
        font-size: 20px;
        line-height: 24px;
    }
    .footer-str{
        font-size: 16px;
        line-height: 19px;
    }
    .contact-items {
        font-size: 16px;
        line-height: 19px;
    }
}
