/* .hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
}

.hero-image {
    display: flex;
    padding-top: 95px;
    padding-bottom: 36px;
    margin-left: 14px;
}

.hero-title {
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 52px;
    line-height: calc(63 / 52);
    width: 100%;
    margin-top: auto;

}

.hero-btn {
    border: none;
    background-color: transparent;
    margin-bottom: 124px;
}

.hero-btn-mob {
    display: flex;
    margin-left: 2px;

}

.hero-subtitle {
    display: flex;
    padding-bottom: 146px;
    font-weight: 400;
    width: 46px;
    font-size: 14px;
    line-height: calc(17 / 14);

}

.hero-btn-tab {
    display: none;
}

.hero-btn-desk {
    display: none;
}



@media screen and (min-width: 768px) {
    .hero-btn-tab {
        display: flex;
    }

    .hero-btn {
        display: flex;
        margin-bottom: 318px;
        border: none;
        background-color: transparent;
    }

    .hero-row {
        display: flex;
    }


    .hero-image {
        display: flex;
        padding-bottom: 95px;
        margin-left: 40px;
        margin-right: 20px;
    }

    .hero-btn-mob {
        display: none;
    }

    .hero-btn-desk {
        display: none;
    }

    .hero-title {

        font-size: 120px;
        line-height: calc(146 /120);
    }

    .hero-subtitle {
        width: 76px;
        font-weight: 400;
        font-size: 24px;
        line-height: calc(29 / 24);
        padding-bottom: 372px;
    }
}

@media screen and (min-width: 1280px) {

    .image-row {
        display: flex;
    }

    .hero-btn-tab {
        display: none;
    }

    .hero-btn {
        margin-bottom: 334px;
    }

    .hero-btn-desk {
        display: flex;
    }

    .hero-subtitle {
        width: 110px;

        font-size: 32px;
        line-height: calc(39 / 32);
        padding-bottom: 378px;
    }

    .hero-image {
        display: flex;
        padding-bottom: 93px;
        margin-left: 110px;
        margin-right: 110px;
    }
} */
/* hero section */




@media screen and (max-width: 1279px) {

    .hero-btn-anime,
    .hero-img,
    .hero-btn-desk,
    .hero-btn-tab {
        display: none;
    }
}

.hero {
    position: relative;
    padding-bottom: 100px;
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10;

    height: 389px;


}

.hero-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 400;
    font-size: 52px;
    line-height: calc(63 / 52);
}

.hero-shape {
    position: absolute;
    top: 79px;
    left: 50%;
    transform: translateX(-50%);
    animation: scale-up-center 1000ms ease-out 1000ms both;
}


.hero-image {

    width: 145px;
    height: 274px;
}


.hero-btn {
    border: none;
    background-color: transparent;
    padding: 0;

}

.hero-btn__icon {
    margin-top: 179px;
    width: 74px;
    height: 86px;
}

.hero-badge {
    width: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    margin-top: 209px;
    padding-left: 11px;
}

@media screen and (min-width: 768px) {
    .hero {}

    .hero-container {

        height: 825px;
        max-width: 100%;
    }

    .hero-image {
        width: 390px;
        height: 636px;
    }

    .hero-btn-mob {
        display: none;
    }

    .hero-btn__icon {
        margin: 0;
    }

    .hero-btn-tab {
        position: relative;
        display: flex;
        top: 357px;
        width: 145px;
        height: 150px;
    }

    .hero-badge {
        width: 76px;
        font-weight: 400;
        font-size: 24px;
        line-height: calc(29 / 24);
    }

    .hero-title {
        font-weight: 400;
        font-size: 120px;
        line-height: c146 / 120;
    }

    .hero-shape {
        top: 119px;
    }

    .hero-badge {
        position: relative;
        margin: 0;
        padding: 0;
        left: 49px;
        top: 395px;
    }

}



@media screen and (min-width: 1280px) {
    .hero {
        position: relative;
        max-width: 1280px;
        height: 878px;
        margin: 0 auto;
    }

    .image-row,
    .hero-btn__icon {
        display: none;
    }

    .hero-img,
    .hero-btn-anime {
        display: flex;
    }

    .hero-container {
        position: relative;
        z-index: 10;
        height: 100%;
        margin: 0 auto;
        padding: 0 24px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero-title {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 400;
        font-size: 160px;
        line-height: calc(195 / 160);

        animation: move-vertical 1000ms ease-out 1000ms both;
    }

    .hero-title::after {
        content: "";
        position: absolute;
        top: 20px;
        right: 21px;

        width: 58px;
        height: 8px;
        background-color: currentColor;
    }

    .hero-badge {
        top: 110px;
        width: 102px;
        margin-left: 144px;
        font-size: 32px;
        line-height: 39px;
        animation: move-vertical 1000ms ease-out 1000ms both;
    }

    .hero-btn {
        margin-top: 200px;
        margin-right: 125px;
        animation: move-vertical 1000ms ease-out 1000ms both;
    }

    [href="#btn-txt"] {
        transform-origin: center;
        animation: infinity-rotate 30s linear 4s infinite;
    }

    .hero-btn:hover [href="#btn-txt"],
    .hero-btn:focus [href="#btn-txt"] {
        animation-play-state: paused;
    }

    [href="#btn-arrow"] {
        transform-origin: center;
        transition: transform 500ms ease-out;
    }

    .hero-btn:hover [href="#btn-arrow"],
    .hero-btn:focus [href="#btn-arrow"] {
        transform: rotate(-122deg);
    }

    .hero-shape {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        height: 100%;

        animation: scale-up-center 1000ms ease-out 1000ms both;
    }

    .hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* animations properties */
    @keyframes scale-up-center {
        0% {
            clip-path: inset(150px 421px 92px 421px round 226px);
        }

        50% {
            clip-path: inset(150px 345px 92px 345px round 226px);
        }

        100% {
            clip-path: inset(0 round 0);
        }
    }

    @keyframes move-vertical {
        from {
            transform: translateX(var(--shift-from-x, -50%)) translateY(var(--shift-from-y, 0));
        }

        to {
            transform: translateX(var(--shift-to-x, -50%)) translateY(var(--shift-to-y, 0));
            color: #fff;
            fill: #fff;
        }
    }

    @keyframes infinity-rotate {
        from {
            transform: rotate(-360deg);
        }

        to {
            transform: rotate(0);
        }
    }
}