.hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
}

.hero-image {
    display: flex;

    padding-top: 95px;
    padding-bottom: 36px;
    margin-left: 14px;
}

.hero-title {
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 52px;
    line-height: calc(63 / 52);
    width: 100%;
    margin-top: auto;

}



.hero-btn {
    display: flex;
    margin-left: 2px;
    padding-bottom: 124px;
    border: none;
    background-color: transparent;
}

.hero-subtitle {
    display: flex;
    padding-bottom: 146px;
    font-weight: 400;
    padding-left: 11px;
    width: 46px;
    font-size: 14px;
    line-height: calc(17 / 14);

}