.overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}


/* Стили для модальных окон */

.modal {

    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;


    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 500px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 45;
    /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}


.store-modal-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 272px;
    min-height: 357px;
    padding: 28px 16px;

    background: #FFFFFF;
}

.store-modal-btn-close {
    position: absolute;
    
    top: 16px;
    right: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 0;
    cursor: pointer;
    
    transition: background-color var(--trns-fast);
}

.btn {}

.store-modal-title {
    display: block;

    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);

    margin-bottom: 14px;
    
    color: #000000;
}

.store-modal-desc {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(15 / 12);
    
    color: #5C5C5C;

    margin-bottom: 18px;
}

/* Modal form styles */

.store-modal-form {}

.store-modal-form-label {
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: calc(12 / 10);
    
    color: #5C5C5C;

    margin-bottom: 8px;
}

.store-modal-form-group {
    margin-bottom: 14px;
}

.store-modal-form-field {
    display: block;
    width: 100%;
    height: 35px;

    border: 1px solid #D7D7D7;
    border-radius: 4px;
    outline: 2px solid transparent;
    outline-offset: -1px;
}

.store-modal-form-field::placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(15 / 12);
    
    color: rgba(0, 0, 0, 0.4);
}
.store-modal-form-field:focus,
.store-modal-form-field:focus-visible {
    border: 1px solid rgba(17, 17, 17, 0.7);
}

.store-modal-form-field:not(:placeholder-shown):required:valid {
    border-color: #3CBC81;
}

.store-modal-form-field:not(:placeholder-shown):required:invalid {
    border-color: #E74A3B;
}

.store-modal-form-btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    margin-top: 38px;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
    background: #E86F54;
    width: 100%;
    height: 37px;

    border: none;
    border-radius: 8px;
}

.store-modal-form-btn:disabled {
    background: rgba(232, 111, 84, 0.4);
}

/* Store thank */

/* .store-thank-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 

    background: rgba(0, 0, 0, 0.3);
}

.store-thank-backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
} */

.store-modal-thank {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 272px;
    min-height: 357px;
    padding: 44px 16px 32px 16px;
    
    background: #FFFFFF
}

.store-thank-modal-btn-close {}

.store-modal-img {
    margin-bottom: 16px;
}

.store-modal-thank-title {
    display: block;
    text-align: center;

    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    margin-bottom: 14px;
}

.store-modal-thank-desc {
    text-align: center;
    
    font-weight: 500;
    font-size: 12px;
    line-height: calc(15 / 12);
    margin-bottom: 16px;
}

.store-modal-thank-btn {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);

    color: #FFFFFF;
    background: #E86F54;
    width: 100%;
    height: 50px;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .store-modal-contact {
        width: 480px;
        min-height: 511px;
        padding: 48px 32px;
    }

    .store-modal-btn-close {
        top: 24px;
        right: 24px;
        
        width: 24px;
        height: 24px;
    }

    .store-modal-title {
        font-size: 32px;
        line-height: calc(39 / 32);

        margin-bottom: 24px;
    }

    .store-modal-desc {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(20 /16);

        margin-bottom: 32px;
    }

    .store-modal-form-label {
        font-size: 14px;
        line-height: calc(17 / 14);
    }

    .store-modal-form-group {
        margin-bottom: 24px;
    }

    .store-modal-form-field {
        height: 49px;
    }

    .store-modal-form-field::placeholder {
        font-size: 14px;
        line-height: calc(17 / 14);
    }

    .store-modal-form-btn {
        font-size: 18px;
        line-height: calc(22 / 18);

        height: 50px;
    }

    .store-modal-thank{
        width: 480px;
        min-height: 505px;
        padding: 54px 16px 32px 16px;
    }

    .store-modal-thank-title {
        font-size: 32px;
        line-height: calc(39 / 32);
        margin-bottom: 16px;
    }

    .store-modal-thank-desc {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 34px;
    }

    .store-modal-thank-btn {
        font-size: 18px;
        line-height: calc(22 /18);
    }
}

@media screen and (min-width: 1280px) {
.store-modal-contact {
        width: 480px;
        min-height: 511px;
        padding: 48px 32px;
    }

    .store-modal-btn-close {
        top: 24px;
        right: 24px;

        width: 24px;
        height: 24px;
    }

    .store-modal-title {
        font-size: 32px;
        line-height: calc(39 / 32);

        margin-bottom: 24px;
    }

    .store-modal-desc {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(20 /16);

        margin-bottom: 32px;
    }

    .store-modal-form-label {
        font-size: 14px;
        line-height: calc(17 / 14);
    }

    .store-modal-form-group {
        margin-bottom: 24px;
    }

    .store-modal-form-field {
        height: 49px;
    }

    .store-modal-form-field::placeholder {
        font-size: 14px;
        line-height: calc(17 / 14);
    }

    .store-modal-form-btn {
        font-size: 18px;
        line-height: calc(22 / 18);

        height: 50px;
    }

    .store-modal-thank {
        width: 480px;
        min-height: 505px;
        padding: 54px 16px 32px 16px;
    }

    .store-modal-thank-title {
        font-size: 32px;
        line-height: calc(39 / 32);
        margin-bottom: 16px;
    }

    .store-modal-thank-desc {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 34px;
    }

    .store-modal-thank-btn {
        font-size: 18px;
        line-height: calc(22 /18);
    }
}