.store-modal-title {
    font-weight: 600;
    font-size: 32px;
    line-height: calc(39 / 32);

    margin-bottom: 14px;
}

.store-modal-title {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(39 / 32);
    color: #5C5C5C;

    margin-bottom: 18px;
}