<<<<<<< Updated upstream
.modal_store{
=======
.overlay {

    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}


/* Стили для модальных окон */

.modal {

    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;


    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 500px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}


.store-modal-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

>>>>>>> Stashed changes
    width: 272px;
    height: 357px;  
}
.store-modal-title {
    font-weight: 600;
    font-size: 32px;
    line-height: calc(39 / 32);

    margin-bottom: 14px;
}

.store-modal-title {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(39 / 32);
    color: #5C5C5C;

    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .modal_store {
        width: 480px;
        height: 511px;    
    }
    
  }
  @media screen and (min-width: 1280px) {
    
  }

/* ----------------------------------------------- */


  .modal_store_two{
    width: 272px;
    height: 357px; 
}

@media screen and (min-width: 768px) {
    .modal_store_two {
        width: 480px;
        height: 505px;  
    }
    
  }
  @media screen and (min-width: 1280px) {
    
  }