<<<<<<< Updated upstream
.store {
    padding-bottom: 100px;
=======
ul {
    margin: 0;
    padding-left: 0;
}

.list {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}




.store {
    padding-bottom: 60px;
}

.container {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
>>>>>>> Stashed changes
}

.store-title {
margin-bottom: 32px;
display: flex;
align-items: center;
}
.store-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.store-iteam {
    width: calc((100% - 16px) / 2);
}
.store-label {
font-weight: 500;
font-size: 16px;
line-height: 1.25;
margin-top: 12px;
margin-bottom: 6px;
}

.store-price {
    font-weight: 600;
font-size: 12px;
line-height: 1.25;
color: #000000;
opacity: 0.6;
}

.store-btn{
    margin: 32px auto 0 ;
}

@media screen and (min-width: 768px){
    .store-title{
        font-weight: 700;
    }
    .store-label{
        font-weight: 500;
font-size: 32px;
line-height: 1.2;
display: flex;
align-items: center;
white-space: nowrap;
    }
    .store-label::after {
        content: '';
        display: inline-block;
        width: 100%;
        border: 1px solid #000000;
        margin-left: 14px;
    }
    .store-price{
        font-weight: 600;
font-size: 24px;
line-height: 1.2;
    }
    .store-iteam {
        width: calc((100% - 32px) / 2);
    }
    .store-list {
        column-gap: 32px;
        row-gap: 40px;
    }
    .store-btn{
        margin: 60px auto 0 ;
    }
}
@media screen and (min-width: 1200px){
    
    .store-label{
font-size: 36px;
line-height: 1.2;
    }
    .store-price{
font-size: 28px;
line-height: 1.2;
    }
    .store-list {
        row-gap: 64px;
    }
}