.container {
  min-width: 288px;
  max-width: 480px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  
  outline: 2px solid red;
    outline-offset: -2px;
}
/* @media screen and (min-width: 480px) {
  .container {
    min-width: 288px;
    padding: 0 16px;
    margin: 0 auto;
    padding: 0 16px 60px;
    
  }
} */
@media screen and (min-width: 768px) {
  .container {
   max-width: 768px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    
  }
}