.container {
  min-width: 288px;
  max-width:480px ;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
 
  outline: 2px solid red;
  outline-offset: -2px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 481px;
    max-width: 768px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 769px;
    max-width: 1280px;
    
  }
}
