<section class="blog">
  <div class="container">
    <h2 class="blog-title section-title">BLOG</h2>
    <div class="img-blog-wrap">
      <img
        class="img-blog"
        srcset="
          ../img/./blog/image-2_mob@1x.jpg  136w,
          ../img/./blog/image-2_mob@2x.jpg  272w,
          ../img/./blog/image-2_tab@1x.jpg  344w,
          ../img/./blog/image-2_tab@2x.jpg  688w,
          ../img/./blog/image-2_desk@1x.jpg 390w,
          ../img/./blog/image-2_desk@2x.jpg 780w
        "
        sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 136px, 100vw"
        src="../img/.blog/image-2_mob@1x.jpg"
        alt="blog-flowers"
        loading="lazy"
      />
      <img
        class="img-blog"
        srcset="
          ../img/./blog/image-1_mob@1x.jpg  136w,
          ../img/./blog/image-1_mob@2x.jpg  272w,
          ../img/./blog/image-1_tab@1x.jpg  344w,
          ../img/./blog/image-1_tab@2x.jpg  688w,
          ../img/./blog/image-1_desk@1x.jpg 390w,
          ../img/./blog/image-1_desk@2x.jpg 780w
        "
        sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 136px, 100vw"
        src="../img/.blog/image-2_mob@1x.jpg"
        alt="blog-flowers"
        loading="lazy"
      />
      <img
        class="img-blog img-blog-3"
        srcset="
          ../img/./blog/image-3_mob@1x.jpg  136w,
          ../img/./blog/image-3_mob@2x.jpg  272w,
          ../img/./blog/image-3_tab@1x.jpg  344w,
          ../img/./blog/image-3_tab@2x.jpg  688w,
          ../img/./blog/image-3_desk@1x.jpg 390w,
          ../img/./blog/image-3_desk@2x.jpg 780w
        "
        sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 136px, 100vw"
        src="../img/./blog/image-3_mob@1x.jpg"
        alt="blog-flowers"
        loading="lazy"
      />
    </div>
    <p class="blog-follow">Follow to our newsletter</p>
    <button type="button" class="btn-follow">Subscribe</button>
  </div>
</section>
