<section class="delivery">
  <h2 class="delivery-title">DELIVERY</h2>
  <ul class="delivery-list list">
    <li class="delivery-item">
      <p class="delivery-item-number">1</p>
      <p class="delivery-item-custom">
        Choose your bouquet and make an order on website
      </p>
    </li>
    <li class="delivery-item">
      <p class="delivery-item-number">2</p>
      <p class="delivery-item-custom">
        Wait for the call to clarify the details of the order. You can pay
        online or to the courier
      </p>
    </li>
    <li class="delivery-item">
      <p class="delivery-item-number">3</p>
      <p class="delivery-item-custom">
        Wait for the delivery at the selected time or pick up the order from the
        store
      </p>
    </li>
    <li class="delivery-item">
      <p class="delivery-item-number">4</p>
      <p class="delivery-item-custom">Make someone happy or enjoy yourself</p>
    </li>
  </ul>
  <img
    class="img-delivery"
    srcset="
      ./img/image-delivery-mob.jpg         320w,
      ./img/image-delivery-mob-2x.jpg      640w,
      ./img/image-delivery-tablet.jpg      768w,
      ./img/image-delivery-tablet-2x.jpg  1536w,
      ./img/image-delivery-desktop.jpg    1280w,
      ./img/image-delivery-desktop-2x.jpg 2560w
    "
    sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 320px) 3200px, 100vw"
    src="./img/image-delivery-mob.jpg"
    alt="image-delivery"
    loading="lazy"
  />
</section>
