<footer class="footer">
    <div class="container footer-container">
        <h3 class="footer-title">Navigation</h3>
        <ul class="footer-navigation">
            <li>Anemone</li>
            <li>Store</li>
            <li>Delivery</li>
        </ul>
        <div>
            <h3 class="opne-time">Opening times</h3>
            <p class="worked">Every day 9:00 - 22:00</p>
        </div>
        <h3 class="footer-contact">Contacts</h3>
        <address class="contacts-address">
            <ul class="contacts-list list">
                <li class="contact-items"><a href="+38 063 123 45 67" class="contact-link link">+38 063 123 45 67</a></li>
                <li class="contact-items"><a href="anemonestudio@example.com" class="contact-link link">anemonestudio@example.com</a></li>
                <li><p class="footer-str">Reitarska Street, 11 Kyiv, Ukraine</p></li>
            </ul>
        </address>
        <ul>
            <li>
                <svg class="footer-icon" width="12.83" height="23.33">
                    <use href="../img/icon.svg#icon-facebook">
                    </use>
                </svg>
            </li>
            <li>
                <svg class="footer-icon" width="23.33" height="23.33">
                    <use href="../img/icon.svg#icon-instagram">
                    </use>
                </svg>
            </li>
        </ul>
    </div>
</footer>