<footer class="footer">
    <div class="container footer-container">
        <a href="" class="footer-logo">
            <svg class="footer-logo_icon" width="73" height="57">
            <use href="../img/icon.svg#icon-logo-big"></use>
        </svg></a>
            <div class="footer-set">
                <h3 class="footer-title">Navigation</h3>
                <ul class="footer-navigation">
                    <li class="footer-item">
                        <a href="#anemone" class="footer-link link">Anemone</a>
                    </li>
                    <li class="footer-item">
                        <a href="#about" class="footer-link link">About us</a>
                    </li>
                    <li class="footer-item">
                        <a href="#store" class="footer-link link">Store</a>
                    </li>
                    <li class="footer-item">
                        <a href="#delivery" class="footer-link link">Delivery</a>
                    </li>
                </ul>
            </div>
            <div class="footer-set1">
                <h3 class="open-time">Opening times</h3>
                <p class="worked">Every day <br class="footer-br"> 9:00 - 22:00</p>
            </div>
            <div class="footer-set2">
            <h3 class="footer-contact">Contacts</h3>
            <address class="contacts-address">
                <ul class="contacts-list list">
                    <li class="contact-items"><a href="+38 063 123 45 67" class="contact-link link">+38 063 123 45 67</a></li>
                    <li class="contact-items"><a href="anemonestudio@example.com" class="contact-link link">anemonestudio <br class="footer-br"> @example.com</a></li>
                    <li class="footer-str">Reitarska Street, 11  <br class="footer-br"> Kyiv, Ukraine</li>
                </ul>
            </address>
            </div>
            <div class="footer-set3">
            <ul class="footer-icon-list list">
                <li class="footer-icon-item">
                    <svg class="footer-icon-link link" width="28" height="28">
                        <use href="../img/icon.svg#icon-facebook">
                        </use>
                    </svg>
                </li>
                <li class="footer-icon-item">
                    <svg class="footer-icon-link link" width="28" height="28">
                        <use href="../img/icon.svg#icon-instagram">
                        </use>
                    </svg>
                </li>
            </ul>
            </div>
    </div>
</footer>