<footer class="footer">
    <div class="container footer-container">
        <h3>Navigation</h3>
        <ul class="footer-navigation">
            <li>Anemone</li>
            <li>Store</li>
            <li>Delivery</li>
        </ul>
        <div>
            <h3>Opening times</h3>
            <p>Every day 9:00 - 22:00</p>
        </div>
        <h3>Contacts</h3>
        <address class="contacts-address">
            <ul class="contacts-list list">
                <li class="contact-items"><a href="+38 063 123 45 67" class="contact-link link">+38 063 123 45 67</a></li>
                <li class="contact-items"><a href="anemonestudio@example.com" class="contact-link link">anemonestudio@example.com</a></li>
                <li><p>Reitarska Street, 11 Kyiv, Ukraine</p></li>
            </ul>
        </address>
        <ul>
            <li>
                <svg>
                    <use>
                    </use></svg></li>
            <li>
                <svg>
                    <use>
                    </use>
                </svg>
            </li>
        </ul>
    </div>
</footer>