<header class="header header-js">

  <div class="container header-box"><a href="" class="header-logo"><svg class="header-logo_icon" width="45" height="35">
        <use href="./img/icon.svg#icon-logo-mob"></use>
      </svg></a>

    <nav class="header-nav">
      <ul class="nav-list list">
        <li class="nav-text"><a href="#anemone" class="nav-link link">Anemone</a></li>
        <li class="nav-text"><a href="#about" class="nav-link link">About us</a></li>
        <li class="nav-text"><a href="#store" class="nav-link link">Store</a></li>
        <li class="nav-text"><a href="#delivery" class="nav-link link">Delivery</a></li>
        <li class="nav-text"><a href="#blog" class="nav-link link">Blog</a></li>
      </ul>
    </nav>

    <div class="header-tel"><a href="tel" class="header-tel-link"><svg class="header-tel_icon" width="20" height="20">
          <use href="../img/icon.svg#icon-tel-mobile"></use>
        </svg></a>
    </div>


    <button type="button" class="menu-burger js-open-menu">
      <svg class="menu-burger__icon" width="24" height="24">
        <use href="./img/icon.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <!-- burger menu -->
  <div class="menu js-menu-container" id="mobile-menu">
    <button class="menu__button js-close-menu">
      <svg class="menu__icon" width="24" height="24">
        <use href="./img/icon.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="menu__nav">
      <ul class="menu__nav-list list">
        <li class="menu__nav-item"><a href="#anemone" class="menu-nav-link js-close-menu link">Anemone</a>
        </li>
        <li class="menu__nav-item"><a href="#about" class="menu-nav-link js-close-menu link">About us</a>
        </li>
        <li class="menu__nav-item"><a href="#store" class="menu-nav-link js-close-menu link">Store</a>
        </li>
        <li class="menu__nav-item"><a href="#delivery" class="menu-nav-link js-close-menu link">Delivery</a>
        </li>
        <li class="menu__nav-item"><a href="#blog" class="menu-nav-link js-close-menu link">Blog</a>
        </li>
      </ul>
    </nav>


  </div>
</header>