<header>

  <a href="" class="header-logo"><svg class="header-logo_icon" width="" height="">
      <use href=""></use>
    </svg></a>

  <nav>
    <ul>
      <li class="nav-text"><a href="#anemone" class="nav-link lin">Anemone</a></li>
      <li class="nav-text"><a href="#about" class="nav-link lin">About us</a></li>
      <li class="nav-text"><a href="#store" class="nav-link lin">Store</a></li>
      <li class="nav-text"><a href="#delivery" class="nav-link lin">Delivery</a></li>
      <li class="nav-text"><a href="#blog" class="nav-link lin">Blog</a></li>
    </ul>
  </nav>

  <a href="tel" class="header-tel"><svg class="header-tel_icon" width="" height="">
      <use href=""></use>
    </svg></a>


  <button type="button" class="menu-burger js-open-menu">
    <svg class="menu-burger__icon">
      <use href=""></use>
    </svg>
  </button>
  <!-- burger menu -->
  <div class="menu js-menu-container" id="mobile-menu">
    <button class="menu__button js-close-menu">
      <svg class="menu__icon">
        <use href="./close"></use>
      </svg>
    </button>

    <ul class="menu__nav-list list">
      <li class="menu__nav-item"><a href="#anemone" class="menu-nav-link js-close-menu link">Anemone</a>
      </li>
      <li class="menu__nav-item"><a href="#about" class="menu-nav-link js-close-menu link">About us</a>
      </li>
      <li class="menu__nav-item"><a href="#store" class="menu-nav-link js-close-menu link">Store</a>
      </li>
      <li class="menu__nav-item"><a href="#delivery" class="menu-nav-link js-close-menu link">Delivery</a>
      </li>
      <li class="menu__nav-item"><a href="#blog" class="menu-nav-link js-close-menu link">Blog</a>
      </li>
    </ul>
    </nav>
  </div>
</header>