<section class="hero-section">
    <div class="hero-container hero-row">
        <h1 class="hero-title">ANEMONE</h1>
        <h2 class="hero-subtitle">flower studio</h2>
        <img class="hero-image" src="./img/hero/flower_780.png" alt="flower" loading="lazy" width="145" height="274" />
        <button type="button" class="hero-btn js-open-menu">
            <svg class="hero-btn__icon" width="64" height="76">
                <use href="../img/icon.svg#icon-btn-mobile"></use>
            </svg>
        </button>

    </div>
</section>