<section class="hero-section">
    <div class="hero-container hero-row">
        <h1 class="hero-title" style="--shift-to-y: -355px;">ANEMONE</h1>
        <h2 class="hero-subtitle" style="--shift-from-x: 0; --shift-to-x: -90px; --shift-to-y: 170px;">flower studio
        </h2>
        <img class="hero-image-mob" src="./img/hero/flower_145.png" alt="flower" loading="lazy" width="145"
            height="274" />
        <img class="hero-image-tab" src="./img/hero/flower_390.png" alt="flower" loading="lazy" width="390"
            height="636" />

        <button type="button" class="hero-btn-mob js-open-menu">
            <svg class="hero-btn__icon" width="64" height="76">
                <use href="./img/icon.svg#icon-btn-mobile"></use>
            </svg>
        </button>
        <button type="button" class="hero-btn-tab js-open-menu">
            <svg class="hero-btn__icon" width="145" height="150">
                <use href="./img/icon.svg#icon-btn-tablet"></use>
            </svg>
        </button>
        <button type="button" class="hero-btn-desk js-open-menu">
            <svg class="hero-btn__icon" width="166" height="166">
                <use href="./img/icon.svg#icon-btn-desktop"></use>
            </svg>
        </button>

    </div>
</section>
<!-- anime -->