<div class="modal" data-modal="1">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <strong class="store-modal-title">Contact us</strong>
  <p class="store-modal-desc">
    If you have any additional questions or you want to clarify something
    before you make an order please fill in your contact details. We will call
    you back.
  </p>
  <form class="store-modal-form" name="store_modal_form">
    <!-- Name Field -->
    <label class="store-modal-form-label" for="store_username">Name</label>
    <div class="store-modal-form-group">
      <input
        class="store-modal-form-field"
        type="text"
        name="store_username"
        id="store_username"
        placeholder="Your name"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
        title="Username must be two words separated by space."
      />
    </div>
     <!-- Email Field -->
    <label class="store-modal-form-label" for="store_email">Email</label>
    <div class="store-modal-form-group">
       <input
         class="store-modal-form-field"
         type="email"
         name="store_email"
         id="store_email"
         placeholder="Your email"
         required
       />
    </div>
  </form>
  <button type="button" class="stail_btn">
    <a href="#" class="js-modal-close js-open-modal" data-modal="2">Send</a>
  </button> 
</div>
<div class="modal" data-modal="2">
  <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
    <img
      class="store-modal-img"
      src="./img/modal_store.img/modal_store_flowers.png"
      srcset="
        ./img/modal_store.img/modal_store_flowers_188.png 188w,
        ./img/modal_store.img/modal_store_flowers_266.png 266w,
        ./img/modal_store.img/modal_store_flowers_376.png 376w,
        ./img/modal_store.img/modal_store_flowers_532.png 532w
      "
      sizes="(min-width: 1280px) 266px, (min-width: 768px) 266px, (min-width: 480px) 188px, 100vw"
      alt="Flowers"
      width="188"
      height="142"
    />
    <strong class="store-modal-thank-title">Thank you!</strong>
    <p class="store-modal-thank-desc">
      We have received your contact details and will reach you soon.
    </p>
    <button type="button" class="stail_btn">
      <a href="#" class="js-modal-close " data-modal="2">Continue</a>
    </button> 
</div>  

