<div class="modal-blog modal" data-modal="3">
  <button class="modal-btn js-modal-close" type="button" data-modal-close>
    <svg class="modal-icon" width="16" height="16">
      <use href="./img/icon.svg#icon-close"></use>
    </svg>
  </button>
  <div class="modal-cont">
    <h2 class="title-mod">Follow to our newsletter</h2>
    <p class="text-mod">
      Be the first to get exclusive offers and the latest news on our product
      directly in your box.
    </p>
    <form class="modal-form">
      <label class="modal-form-label" for="user_email">Email</label>

      <input
        class="modal-form-input"
        type="email"
        id="user_email"
        placeholder="Your email"
        required
      />

      <button class="contact-form-btn btn" type="submit">Subscribe</button>
    </form>
  </div>
</div>
