<div class="backdrop" data-modal>
  <div class="modal">
    <button class="modal-btn" type="button" data-modal-close>
      <img src="../img/close.svg" alt="" />
    </button>
    <!-- <img src="./images/blog/popup-img_mob@1x.jpg" alt="flowers" /> -->
    <div class="modal-cont">
      <h2 class="title-mod">Follow to our newsletter</h2>
      <p class="text-mod">
        Be the first to get exclusive offers and the latest news on our product
        directly in your box.
      </p>
      <form class="modal-form">
        <label class="modal-form-label" for="user_email">Email</label>

        <input class="modal-form-input" type="email" id="user_email" required />

        <button class="contact-form-btn btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>
