<section class="store">
    <div class="container">
        <h2 class="store-title">STORE</h2>
        <ul class="store-list list">
            <li class="store-iteam">
                <img srcset="./img/store/bouquet1mob_136.jpg, ./img/store/bouquet1mob_272.jpg 272w " src="./img/store/bouquet1mob_136.jpg" alt="flowers" width="136">
                <h3 class="store-label">compliments</h3>
                <p class="store-price">from $15</p>
            </li>
            <li class="store-iteam">
                <img srcset="./img/store/bouquet2mob_136.jpg, ./img/store/bouquet1mob_272.jpg 272w" src="./img/store/bouquet2mob_136.jpg" alt="flowers" width="136">
                <h3 class="store-label">bouquets size S</h3>
                <p class="store-price">from $25</p>
            </li>
            <li class="store-iteam">
                <img srcset="./img/store/bouquet3mob_136.jpg, ./img/store/bouquet1mob_272.jpg 272w" src="./img/store/bouquet3mob_136.jpg" alt="flowers" width="136">
                <h3 class="store-label">bouquets size M</h3>
                <p class="store-price">from $45</p>
            </li>
            <li class="store-iteam">
                <img srcset="./img/store/bouquet4mob_136.jpg, ./img/store/bouquet1mob_272.jpg 272w" src="./img/store/bouquet4mob_136.jpg" alt="flowers" width="136">
                <h3 class="store-label">bouquets size L</h3>
                <p class="store-price">from $60</p>
            </li>
        </ul>
        <button type="button" class="store-btn btn">Order flowers</button>
    </div>
</section>