<section class="store">
    <div class="container">
        <h2 class="store-title title">STORE</h2>
        <ul class="store-list list">
            <li class="store-iteam">
                <img srcset="
                ./img/store/bouquet1mob_136.jpg 136w,
                ./img/store/bouquet1mob_272.jpg 272w,
                ./img/store/tab/bouquet3tab_344.jpg 344w,
                ./img/store/tab/bouquet3tab_688.jpg 688w,
                ./img/store/desk/bouquet3desk_600.jpg 600w,
                ./img/store/desk/bouquet3desk_1200.jpg 1200w"
                sizes="(min-width: 1200px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
                src="./img/store/bouquet1mob_136.jpg" alt="flowers" width="600" >
                <h3 class="store-label">compliments</h3>
                <p class="store-price">from $15</p>
            </li>
            <li class="store-iteam">
                <img srcset="
                ./img/store/bouquet2mob_136.jpg 136w,
                ./img/store/bouquet2mob_272.jpg 272w,
                ./img/store/tab/bouquet1tab_344.jpg 344w,
                ./img/store/tab/bouquet1tab_688.jpg 688w,
                ./img/store/desk/bouquet1desk_600.jpg 600w,
                ./img/store/desk/bouquet1desk_1200.jpg 1200w"
                sizes="(min-width: 1200px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
                src="./img/store/bouquet2mob_136.jpg" alt="flowers" width="600" >
                <h3 class="store-label">bouquets size S</h3>
                <p class="store-price">from $25</p>
            </li>
            <li class="store-iteam">
                <img srcset="
                ./img/store/bouquet3mob_136.jpg 136w,
                ./img/store/bouquet3mob_272.jpg 272w,
                ./img/store/tab/bouquet2tab_344.jpg 344w,
                ./img/store/tab/bouquet2tab_688.jpg 688w,
                ./img/store/desk/bouquet2desk_600.jpg 600w,
                ./img/store/desk/bouquet2desk_1200.jpg 1200w"
                sizes="(min-width: 1200px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw" 
                src="./img/store/bouquet3mob_136.jpg" alt="flowers" width="600" >
                <h3 class="store-label">bouquets size M</h3>
                <p class="store-price">from $45</p>
            </li>
            <li class="store-iteam">
                <img srcset="
                ./img/store/bouquet4mob_136.jpg 136w,
                ./img/store/bouquet4mob_272.jpg 272w,
                ./img/store/tab/bouquet4tab_344.jpg 344w,
                ./img/store/tab/bouquet4tab_688.jpg 688w,
                ./img/store/desk/bouquet4desk_600.jpg 600w,
                ./img/store/desk/bouquet4desk_1200.jpg 1200w"
                sizes="(min-width: 1200px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw" 
                src="./img/store/bouquet4mob_136.jpg" alt="flowers" width="600" >
                <h3 class="store-label">bouquets size L</h3>
                <p class="store-price">from $60</p>
            </li>
        </ul>
        <button type="button" class="store-btn btn">Order flowers</button>
    </div>
</section>